{#
/**
 * @file
 * Default theme implementation for a mrcs social share formatter.
 *
 * Available variables:
 * - image_editor_config: Array of editor config data.
 * - image_editor_header: Editor header content
 *
 * @ingroup themeable
 */
 #}
 {%
 set classes = [
 'tui-image-editor-wrapper',
 ]
 %}
 <div{{ attributes.addClass(classes) }} id="tui-image-editor-wrapper">
 {% if image_editor_header != '' %}
 	<div class="testimonial-header-sec">
 		{{ image_editor_header }}
 	</div>
 {% endif %}
 <div class="tui-image-editor-container" id="tui-image-editor-{{ image_editor_config.blockId }}" data-theme = "{{ image_editor_config.image_editor_theme }}" data-menu-bar-position = "{{ image_editor_config.menu_bar_position }}" style="min-height: 800px" {% if image_editor_config.image_editor_theme == 'customTheme' %}data-theme-attr-data = "{{ image_editor_config.theme_attr_data }}" {% endif %}></div>

</div>
